<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	New Controller Added
    </div>
    <div style="font-size: 0.9rem;">
		Hello, <br /><br />
		A new {{type}} has been added to the roster.  You can find his/her information below.
		<br /><br />
		<div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 100px; border-right: 1px solid darkgray;">CID</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 100px - 1em); float: right;">{{cid}}</div>
			</div>
			<div style="width: 100%; display: flex;">
				<div style="padding: .25em 0 .5em .5em; width: 100px; border-right: 1px solid darkgray;">Name</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 100px - 1em); float: right;">{{name}}</div>
			</div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 100px; border-right: 1px solid darkgray;">Email</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 100px - 1em); float: right;">{{email}}</div>
			</div>
			<div style="width: 100%; display: flex;">
				<div style="padding: .25em 0 .5em .5em; width: 100px; border-right: 1px solid darkgray;">Rating</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 100px - 1em); float: right;">{{rating}}</div>
			</div>
			{{#if vis}}
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 100px; border-right: 1px solid darkgray;">Home Facility</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 100px - 1em); float: right;">{{home}}</div>
			</div>
			{{/if}}
		</div>
		<br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>