<div class="card">
	<div class="card-title">
    	New Visiting Application
    </div>
    <div class="card-content">
		Hello, <br /><br />
        There is a new visiting application pending review. You can find the details below. <br /> <br />
    	<div class="info">
			<div class="name">
				<div>Name</div>
				<div>{{user.fname}} {{user.lname}}</div>
			</div>
			<div class="cid">
				<div>CID</div>
				<div>{{user.cid}}</div>
			</div>
			<div class="rating">
				<div>Rating</div>
				<div>{{user.rating}}</div>
			</div>
			<div class="email">
				<div>Email</div>
				<div>{{user.email}}</div>
			</div>
      		<div class="facility">
				<div>Home Facility</div>
				<div>{{user.home}}</div>
			</div>
      		<div class="reason">
				<div>Motivation</div>
				<div>{{user.reason}}</div>
			</div>
		</div>
		<br /><br />
		Sincerely,<br />
		The ZAB Staff Team
	</div>
</div>

<style>
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif!important;
}

.container {
	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
	max-width: 600px;
	margin: 40px auto 20px auto;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: .25em;
}

.header {
	background-color: #122049;
	color: #fff;
	height: 70px;
}

.header-image-container {
	margin-right: 1em;
	margin-top: -45px;
}

.header-image {
	width: 50px;
	height: auto;
	float: right;
}

.header-title {
	margin-left: 1em;
	padding-top: 10px;
}

.title-top {
	font-size: 1.3rem;
}

.title-bottom {
	font-weight: 300;
	margin-left: 40px;
}

.card {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 20px;
}

.card-content {
  	font-size: 0.9rem;
}

.card-content a {
	text-decoration: none;
	color: #192d66;
	font-weight: 700;
}

.footer {
	text-align: center;
	padding: 0 1em;
	font-size: 0.8rem;
	color: gray;
	font-style: italic;
}

.card {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 20px;
}

.card-content {
  	font-size: 0.9rem;
}

.card-content a {
	text-decoration: none;
	color: #192d66;
	font-weight: 700;
}

.info div {
    width: 100%;
    display: flex;
}

.name, .rating, .facility {
  background: #EDEDED;
}

.info div div {
      padding: .25em .5em .5em .5em;
}

.info div div:nth-child(odd) {
  width: 120px;
  border-right: 1px solid darkgray;
}

.info div div:nth-child(even) {
  padding-left: 1em;
}
</style>
