<div class="card">
	<div class="card-title">
    	New Visiting Application
    </div>
    <div class="card-content">
		Hello, <br /><br />
        There is a new visiting application pending review. You can find the details below. <br /> <br />
    	<div class="info">
			<div class="name">
				<div>Name</div>
				<div>{{user.fname}} {{user.lname}}</div>
			</div>
			<div class="cid">
				<div>CID</div>
				<div>{{user.cid}}</div>
			</div>
			<div class="rating">
				<div>Rating</div>
				<div>{{user.rating}}</div>
			</div>
			<div class="email">
				<div>Email</div>
				<div>{{user.email}}</div>
			</div>
      		<div class="facility">
				<div>Home Facility</div>
				<div>{{user.home}}</div>
			</div>
      		<div class="reason">
				<div>Motivation</div>
				<div>{{user.reason}}</div>
			</div>
		</div>
		<br /><br />
		Sincerely,<br />
		The ZAB Staff Team
	</div>
</div>

<style>
.info div {
    width: 100%;
    display: flex;
}

.name, .rating, .facility {
  background: #EDEDED;
}

.info div div {
      padding: .25em .5em .5em .5em;
}

.info div div:nth-child(odd) {
  width: 120px;
  border-right: 1px solid darkgray;
}

.info div div:nth-child(even) {
  padding-left: 1em;
}
</style>
