<div class="card">
	<div class="card-title">
    	New Visiting Application
    </div>
    <div class="card-content">
		Hello, <br />
		There is a new visiting application pending review:
		<h6>Name:</h6>
		{{user.fname}} {{user.lname}}
		<h6>CID:</h6>
		{{user.cid}}
		<h6>Rating:</h6>
		{{user.rating}}
		<h6>Email:</h6>
		{{user.email}}
		<h6>Home Facility:</h6>
		{{user.home}}
		<h6>Reason for Visiting:</h6>
		{{user.reason}}
		<br /><br />
		Sincerely,<br />
		The ZAB Staff Team
	</div>
</div>